.banner {
  overflow: hidden;
  width: 100%;
  background: #f9f9f9;
  padding: 160px 0;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.banner-track {
  display: flex;
  width: max-content;
  gap: 60px;
  animation: scroll 80s linear infinite;

  @media (max-width: 440px) {
    gap: 20px;
  }
}

.banner:hover {
  .banner-track {
    animation: none;
  }
}

.banner-item {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;

  display: flex;
  align-items: center;
  gap: 60px;

  @media (max-width: 440px) {
    gap: 20px;
  }

  span {
    display: block;
    max-width: max-content;
    max-height: max-content;
  }

  svg {
    @media (max-width: 440px) {
      width: 40px;
      height: 40px;
    }
  }

  h2 {
    color: var(--main-400, #4d64e5);
    font-size: clamp(2.625rem, 0.26rem + 8.6vw, 8rem);
    font-weight: 400;
    line-height: 76px; /* 59.375% */
  }
}

/* Анимация прокрутки */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
